.btnLogowanie
{
    -fx-background-color: #FF5C00;
}
.btnLogowanie:hover
{
    -fx-background-color: #FF7629;
}
.btnLogowanie:pressed
{
    -fx-background-color: #FF823B;
}
.btnLogowanie:selected
{
    -fx-background-color: #FF823B;
}


.background
{
    -fx-background-color: linear-gradient(to bottom,  #FF5C00 54%, #340707)
}

.background2
{
    -fx-background-color: linear-gradient(to right,  #FF5C00 54%, #340707);
}

.textFields
{
    -fx-border-color:  #7B249E;
    -fx-background-color:  #030000;
    -fx-background-insets: 0;
    -fx-border-radius: 20;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

.tab-header-area .tab-header-background
{
 	-fx-background-color: #FF5C00;
}

.tab-pane .tab:selected
{
	-fx-background-color: #DE5000;

}

.tab-pane
 {
	-fx-background-color: transparent;
	-fx-tab-min-width: 115px;
	-fx-tab-min-height: 42px;
	-fx-tab-max-height: 66px;
}
.tab-pane .tab
{
	-fx-background-color: transparent;
}

.tab .tab-label
{
 	-fx-alignment: CENTER;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-padding: 0 10 0 10;
}

.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator
{
 	-fx-border-width: 0;
	-fx-border-insets: 0 0 0 0;
	-fx-border-radius: 0;
}

.textFields2
{
    -fx-border-color:  #FF5C00;
    -fx-background-color:  #FFFFFF;
    -fx-background-insets: 0;
    -fx-border-radius: 20;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
}

.btnMainApp
{
    -fx-background-color:  #FF5C00;
}
.btnMainApp:hover
{
    -fx-background-color: #FF7629;
}
.btnMainApp:pressed
{
    -fx-background-color: #FF823B;
}

.tableView
{
    -fx-background-color: transparent;
}

.tableView .column-header
{
    -fx-background-color: transparent;
}

.tableView .column-header-background
{
    -fx-background-color: transparent
}


.tableView .table-cell
{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;

}

#historyAmountCol .table-column {
  -fx-alignment: CENTER-RIGHT;
}

.table-row-cell: selected
{
    -fx-background-color: #FF5C00;
    -fx-text-background-color: white;
}

.tableView .virtual-flow .scroll-bar:vertical,
.tableView .virtual-flow .scroll-bar:vertical .track,
.tableView .virtual-flow .scroll-bar:vertical .track-background,
{
    -fx-background-color: transparent;
}

.tableView .virtual-flow .scroll-bar .increment-button,
.tableView .virtual-flow .scroll-bar .decrement-button
{
    -fx-opacity: 0;
    -fx-padding: 2;
}

.tableView .virtual-flow .scroll-bar:vertical .thumb
{
    -fx-background-color:  linear-gradient(to bottom, #FF5C00 75%, #FFF2EA);
}

.table-view .corner
{
    -fx-background-color: transparent;
}
